<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" os="linux" wordsize="64" target="/usr/lib64/libSDL2-2.0.so.0"/>
	<dllmap dll="SDL2_image" os="linux" wordsize="64" target="/usr/lib64/libSDL2_image-2.0.so.0"/>
	<dllmap dll="SDL2_mixer" os="linux" wordsize="64" target="/usr/lib64/libSDL2_mixer-2.0.so.0"/>
	<dllmap dll="SDL2_ttf" os="linux" wordsize="64" target="/usr/lib64/libSDL2_ttf-2.0.so.0"/>
</configuration>
