/media-libs/libmtp-mtpz-privatekey/**
/games-server/acid/**
/games-server/classicdb/**
/games-server/cmangos/**
/games-server/cmangos-db/**
/games-server/mangos/**
/games-server/mangos-db/**
/games-server/psdb/**
/games-server/skyfire/**
/games-server/skyfire-db/**
/games-server/tbc-db/**
/games-server/trinitycore/**
/games-server/trinitycore-db/**
/games-server/udb/**
/games-server/ytdb-mangos/**
/games-server/ytdb-trinity/**
/virtual/cmangos-db/**
/virtual/mangos-db/**
/virtual/trinitycore-db/**
