<?xml version="1.0"?>
<boinc>
  <config>
    <upload_dir>/var/lib/boinc-server/projects/boinc_bfgminer/upload</upload_dir>
    <send_result_abort>1</send_result_abort>
    <long_name>Boinc BFGMiner</long_name>
    <sched_debug_level>3</sched_debug_level>
    <cache_md5_info>1</cache_md5_info>
    <upload_url>http://127.0.0.1/boinc_bfgminer_cgi/fcgi_file_upload_handler</upload_url>
    <disable_account_creation>0</disable_account_creation>
    <uldl_dir_fanout>1024</uldl_dir_fanout>
    <download_url>http://127.0.0.1/boinc_bfgminer/download</download_url>
    <db_user>root</db_user>
    <log_dir>/var/lib/boinc-server/projects/boinc_bfgminer/log_slaughterhouse</log_dir>
    <app_dir>/var/lib/boinc-server/projects/boinc_bfgminer/apps</app_dir>
    <download_dir>/var/lib/boinc-server/projects/boinc_bfgminer/download</download_dir>
    <fuh_debug_level>3</fuh_debug_level>
    <master_url>http://127.0.0.1/boinc_bfgminer/</master_url>
    <host>slaughterhouse</host>
    <db_name>boinc_bfgminer</db_name>
    <shmem_key>0x111120f1</shmem_key>
    <show_results>1</show_results>
    <key_dir>/var/lib/boinc-server/projects/boinc_bfgminer/keys/</key_dir>
    <dont_generate_upload_certificates>1</dont_generate_upload_certificates>
    <ignore_upload_certificates>1</ignore_upload_certificates>
    <db_passwd>xxx</db_passwd>
    <min_sendwork_interval>6</min_sendwork_interval>
    <db_host>
      
      
      
      
      
    </db_host>
    <daily_result_quota>500</daily_result_quota>
    <one_result_per_user_per_wu>0</one_result_per_user_per_wu>
    <max_wus_to_send>50</max_wus_to_send>
    <uldl_pid>/var/run/apache2.pid</uldl_pid>
    <job_size_matching>1</job_size_matching>
    <grace_period_hours>24.0</grace_period_hours>
  </config>
  <tasks>
    <task>
      <cmd>antique_file_deleter -d 2</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>antique_file_deleter.out</output>
    </task>
    <task>
      <cmd>db_dump -d 2 --dump_spec ../db_dump_spec.xml</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>db_dump.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_uotd.php</cmd>
      <period>1 days</period>
      <disabled>0</disabled>
      <output>update_uotd.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_forum_activities.php</cmd>
      <period>1 hour</period>
      <disabled>0</disabled>
      <output>update_forum_activities.out</output>
    </task>
    <task>
      <cmd>update_stats</cmd>
      <period>1 days</period>
      <disabled>0</disabled>
      <output>update_stats.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./update_profile_pages.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>update_profile_pages.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./team_import.php</cmd>
      <period>24 hours</period>
      <disabled>1</disabled>
      <output>team_import.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./notify.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>notify.out</output>
    </task>
    <task>
      <cmd>run_in_ops ./badge_assign.php</cmd>
      <period>24 hours</period>
      <disabled>0</disabled>
      <output>badge_assign.out</output>
    </task>
    <task>
      <cmd>run_in_ops size_census.php</cmd>
      <output>size_census.out</output>
      <period>24 hours</period>
    </task>
    <task>
      <cmd>make_work --wu_name wud_sse2 --cushion 50 --one_pass</cmd>
      <period>10 seconds</period>
      <disabled>0</disabled>
      <output>make_work.out</output>
    </task>
    <task>
      <cmd>make_work --wu_name wud_opencl_ati5_cat132 --cushion 100 --one_pass</cmd>
      <period>10 seconds</period>
      <disabled>0</disabled>
      <output>make_work.out</output>
    </task>
  </tasks>
  <daemons>
    <daemon>
      <cmd>feeder -d 3 </cmd>
    </daemon>
    <daemon>
      <cmd>transitioner -d 3 </cmd>
    </daemon>
    <daemon>
      <cmd>file_deleter -d 3 </cmd>
    </daemon>
    <daemon>
      <cmd>size_regulator --app_name bfgminer --lo 10 --hi 30 --sleep_time 10</cmd>
      <output>size_regulator_uppercase.out</output>
      <pid_file>size_regulator_uppercase.pid</pid_file>
      <disabled>0</disabled>
    </daemon>
    <daemon>
      <cmd>sample_trivial_validator --app bfgminer --sleep-interval 60</cmd>
    </daemon>
  </daemons>
</boinc>
