<?xml version="1.0"?>
<configuration>
  <dllmap os="linux" dll="fmodex.dll" cpu="x86-64" wordsize="64" target="libfmodex64.so"/>
  <dllmap os="linux" dll="fmodex.dll" cpu="x86-64" wordsize="32" target="libfmodex.so"/>
  <dllmap os="linux" dll="fmodex.dll" cpu="x86" target="libfmodex.so"/>
</configuration>

