<boinc>
    <app>
        <name>bfgminer</name>
        <user_friendly_name>bfgminer bitcoin miner (boinc edition)</user_friendly_name>
        <beta>1</beta>
    </app>
    <platform>
        <name>x86_64-pc-linux-gnu</name>
        <user_friendly_name>Linux running on an AMD x86_64 or Intel EM64T CPU</user_friendly_name>
    </platform>
</boinc>
